/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.06.2014, 18:31:53
    Author     : Christoph Franke
*/

html, body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    cursor: auto; 
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: url('../img/potsdamer_platz_oben_dunkel.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#mainFrame{
    position:absolute;    
    margin-top: 50px;
    cursor: auto; 
    width: 100%;
    height: 100%;
    height: calc(100% - 50px);
    overflow: auto;
}


.textBar {
    //font-family: 'Open Sans Condensed', sans-serif;
    //font-family: 'Poiret One', cursive;
    padding: 0em 3em 1em 3em;
    display: table-cell;
    font-size: 2em;
    margin-top: 5em;
    color: white;
    display: inline-block;
    text-align:justify;
    vertical-align: middle;
    background-color: rgba(80, 80, 80, 0.5);
    //background-color: rgba(250, 230, 30, 0.7);
    width: 100%;
}

.centered {    
    display: inline-block;
    text-align: center;
}

.textBar > h1{
    font-weight: 300;    
    text-align: left;
}

.centered > h1{
    text-align: center;
}

.statusIcon {    
   // position: absolute;
    position: relative; 
    margin: 0 auto; 
    width: 60px;
    height: 60px;    
    border-radius: 30px 30px 30px 30px;   
    top:10%;
    display: none;       
    background-size: auto 70%;    
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 9999;
}

#statusOK{
    background-image: url("../img/icons-png/haken.png"); 
}

#statusOK:hover{
    background-color: #5be12a;
}

#statusWarning{
    background-image: url("../img/icons-png/warnung.png"); 
}

#statusWarning:hover{
    background-color: #ff1400;
}

.OSD {
    position:absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9000;
    display: none;
}

.OSDIcon{
    position: absolute;
    width: 40px;
    height: 40px;    
    left: 0px;
    top: 10px;
    display: none;    
    border-radius: 20px 20px 20px 20px;    
    background-size: auto 80%;    
    background-position: center center;
    background-repeat: no-repeat;
}


.OSDIcon:hover{/*
    box-shadow: -0px -0px 8px #fecf1d,
                 0px -0px 8px #fecf1d,
                -0px  0px 8px #fecf1d,
                 0px  0px 8px #fecf1d;*/
    border: #fecf1d solid 2px;
}

#lockedIcon{    
    background-image: url("../img/icons-png/locked-yellow.png"); 
}

#unlockedIcon{
    background-image: url("../img/icons-png/unlocked-yellow.png"); 
}

.fixed > .OSD > #lockedIcon{
    background-image: url("../img/icons-png/locked.png"); 
}

.fixed > .OSD > #unlockedIcon{
    background-image: url("../img/icons-png/unlocked.png"); 
}

.fixed > .OSD > #lockedIcon:hover, .fixed > .OSD > #unlockedIcon:hover {
    box-shadow: -0px -0px 0px #fecf1d,
                 0px -0px 0px #fecf1d,
                -0px  0px 0px #fecf1d,
                 0px  0px 0px #fecf1d;
}

#lefthandle, #righthandle {
    width: 30px;
    height: 15%;
    background-color: #fecf1d;
    opacity: .3;
    position: absolute;
    top: 45%;
    background-size: 80% 80%;
    background-repeat: no-repeat;
}
#lefthandle:hover, #righthandle:hover{    
    opacity: 1;
}

#lefthandle{
    left: -30px;
    background-image: url("../img/icons-png/triangle-white-left.png");
    background-position: center 50%;
    border-radius: 100% 0px 0px 100%;
}
#righthandle{
    right: -30px;
    background-image: url("../img/icons-png/triangle-white-right.png");
    background-position: center 50%;
    border-radius: 0px 100% 100% 0;
}

.segment {
    height: 100px;
    width: 100px;  
    cursor: pointer;    
    z-index: 0;
}

.remove{
    background: #ff1400;
    opacity: 0;
}

#imageContainer {
    height: 100%;
    width: 100%;
    z-index: 0;
}

.image {
    background: transparent;
    position: absolute;
    pointer-events: none;
}

.contextMenu{
    background: white;
    z-index: 99999;
    height: 50px;
    width: 100%;
    position: relative;
}

.contextMenu img{  
    height: 20px;    
    border-radius: 50%;  
    border: 1px solid black;
    padding: 3px;
}

.contextMenu .menuEntry{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    background-color: white;
    line-height: 1.428571429;
    font-size: 0.8em;
    text-transform: none;
    border: none;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.428571429;
    color: #383838;
}

.upfade, .downfade {   
    z-index: 99999;
    width: 100%;
    position: absolute;
    pointer-events: none;
}

.upfade{
    background-image: -webkit-linear-gradient(white 0%, transparent 100%); 
    background-image: -moz-linear-gradient(white 0%, transparent 100%); 
    background-image: -o-linear-gradient(white 0%, transparent 100%); 
    background-image: linear-gradient(white 0%, transparent 100%);
    height: 20px;
    top: 0px;
}

.downfade{
    background-image: -webkit-linear-gradient(transparent 0%, white 30%); 
    background-image: -moz-linear-gradient(transparent 0%, white 30%); 
    background-image: -o-linear-gradient(transparent 0%, white 30%); 
    background-image: linear-gradient(transparent 0%, white 30%);
    height: 70px;
    bottom: 0px;
}

.editor > .segment:hover {/*
    box-shadow: -0px -6px 8px #fecf1d,
                 0px -0px 0px #fecf1d,
                -0px  0px 0px #fecf1d,
                 0px  6px 8px #fecf1d;
    
    box-shadow: 0  0px 6px 8px #fecf1d, 
                0 -0px -6px 8px #fecf1d; */    
    //background: #fecf1d; 
    //background-color: rgba(255, 255, 0, 0.7);
    
    background-image: -webkit-linear-gradient(transparent 0%, #fecf1d 100%); 
    background-image: -moz-linear-gradient(transparent 0%, #fecf1d 100%); 
    background-image: -o-linear-gradient(transparent 0%, #fecf1d 100%); 
    background-image: linear-gradient(transparent 0%, #fecf1d 100%);
    z-index: 1;
}

.source > .segment:hover {
    background: #fefefe;  
    border: solid #fecf1d;
}

.thumb > .OSD {
    display:  None;    
    visibility:  hidden;
}

.navbar{     
    position:absolute;
    width: 100%;
    //font-family: 'Poiret One', cursive;
    //font-family: 'Open Sans Condensed', sans-serif;
    background-color: #fefefe;
    vertical-align: bottom;
    z-index: 999999;
    border-bottom: 2px solid #383838;
}
.navbar-brand, .navbar-nav{ 
    font-size: 1.5em;
}

#editorWrapper {
    height: 85%;
    width: 100%;
    margin-left: 0px;
    cursor: auto;
    z-index: 1;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
}

.editor {
    position:relative;
    height: calc(100% - 50px);
    width: 100%;
    margin: 0;
    left: 0;
    background: transparent;/*
    box-shadow: -1px -1px 2px #fecf1d,
                 1px -1px 2px #fecf1d,
                -1px  1px 2px #fecf1d,
                 1px  1px 2px #fecf1d;*/
    z-index: 1;
    
    background: url('../img/wolken.png') no-repeat center center fixed; 
    background-size: cover;
}


#editorCanvas {
    position: absolute;
    left: 0;
    pointer-events: none;
    z-index: 999999;
}

.editor > div {
    position: absolute;
}

.source{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 15%;
    bottom: 0px;
    overflow: auto; 
    cursor: auto;
    z-index: 1; 
}

.source > div {
    float: left;     
    height: 100%;
    margin: auto 1em auto 1em;
}

.thumb {
    border-radius: 50%;    
    border: solid #383838;
    padding: 1em;
}

.dragged{
    background: white;     
    //background-color: rgba(250, 230, 30, 0.8);
    z-index: 9999999;
}

.out {  
    opacity: 0.8; 
    border: solid #ff1400;
    background: url(../img/icons-png/delete.png) center;     
    background-size: 150%;
}

.editor > .placeholder {
  background: #5be12a;
  box-shadow: -0px -6px 8px #0e8401,
                0px -0px 0px #0e8401,
               -0px  0px 0px #0e8401,
                0px  6px 8px #0e8401;
  z-index: 9500;
  opacity: .7;
}

.editor > .blocked{
  background: #ff1400; 
  box-shadow: -0px -6px 8px #840401,
                0px -0px 0px #840401,
               -0px  0px 0px #840401,
                0px  6px 8px #840401;
}

.editor > .fixed:hover{ 
    
  background-color: rgba(0, 0, 0, 0.5);/*
  box-shadow: -0px -6px 8px #d9d9d9,
                0px -0px 0px #d9d9d9,
               -0px  0px 0px #d9d9d9,
                0px  6px 8px #d9d9d9;*/
}

.dragOrigin{    
    background: #e3e3e3; 
    //border: dotted #000;    
    opacity: .2;
}

.slider{
    width: 500px;
    margin-left: 50px;
}

.fade{
    width: 50px;
    position: absolute;
    z-index: 500;
    display: none;
    opacity: 1;
}

#leftFade{
    background-image: -webkit-linear-gradient(left, #fecf1d 0%, transparent 100%); 
    background-image: -moz-linear-gradient(left, #fecf1d 0%, transparent 100%); 
    background-image: -o-linear-gradient(left, #fecf1d 0%, transparent 100%); 
    background-image: linear-gradient(left, #fecf1d 0%, transparent 100%);
}

#rightFade{
    background-image: -webkit-linear-gradient(left, transparent 0%, #fecf1d 100%); 
    background-image: -moz-linear-gradient(left, transparent 0%, #fecf1d 100%); 
    background-image: -o-linear-gradient(left, transparent 0%, #fecf1d 100%); 
    background-image: linear-gradient(left, transparent 0%, #fecf1d 100%);
}

#zoomSlider, #scaleSlider{
    float: right; 
    margin-left: 2px;
    margin-top: 5px;
    width: 200px;
}

#scrollSlider{
    margin: 0px -1px -1px 50px;
    width: 1300px;
    clear: left; 
    padding: 0 4px 0 2px;  
}

#scrollSlider .ui-slider { 
    background: none; 
    border:0; 
    height: 2em; 
    margin: 0 auto; }
#scrollSlider .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; margin: 0 auto; }
#scrollSlider .ui-slider-handle { top:.2em; height: 1.5em; }
#scrollSlider .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }