/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.06.2014, 18:31:53
    Author     : Christoph Franke
*/
body {
    cursor: auto;
}

#mainFrame{
    cursor: auto;
}

.segment {
  //background: mintcream;
  height: 100px;
  width: 100px;  
  cursor: pointer;
}

.segment:hover {
    border: 4px dotted #72c0c0;
}

.editor {
  background-color: #ddf1f1;
  margin-top: 1em;
  height: 300px;
  width: 1300px;
  display: block;
  margin-left: auto;
  margin-right: auto;  
  cursor: auto;
}

.editor > div {
    position: absolute;
}

.source{
  height: 100px;
  width: 300px;
  overflow:auto;  
  display: block;
  margin-left: auto;
  margin-right: auto; 
  cursor: auto;
}

.source > div {
    float: left;
}

.editor > .placeholder {
  background: #5be12a;
  cursor: move;
  opacity: .3;
}

.editor > .blocked{
  background: #ff1400; 
}

.dragged{
    background: #dbdbdb;  
    opacity: .7;
}

#lefthandle, #righthandle {
    width: 10px;
    height: 100%;
    background-color: #c8bebe;
    opacity: .5;
    //border: 1px solid #000000;
}

#lefthandle{
    position: absolute;
    //left:-5px;
    top: 0px;
}
#righthandle{
    position: absolute;
    right:1px;
    top: 0px;
}