<!doctype html>
<html lang="en">
<head>
</head>
<body>
    <button type="button" id="uploadButton">Hochladen</button>
    <button type="button" id="resetButton">Zurücksetzen</button>  
    <p>
      <label for="zoom">Zoom:</label>
      <input type="text" id="zoom" readonly style="border:0; color:#f6931f; font-weight:bold;">
    </p>
    <div id="zoomSlider" class="slider"/></div>
    <p>
      <label for="scale">Breite:</label>
      <input type="text" id="scale" readonly style="border:0; color:#f6931f; font-weight:bold;">
    </p>
    <div id="scaleSlider" class="slider"/></div>
    <div id="editorWrapper">
        <div id='leftFade' class='fade'></div>
        <div id='rightFade' class='fade'></div>
        <div class="editor" id="editor"> 
            <canvas id="editorCanvas"></canvas>    
        </div>    
    </div>
    
    <div id='scrollSlider' class="scroll-bar-wrap ui-widget-content ui-corner-bottom">
        <div class="scroll-bar"></div>
    </div>
    <div class="source" id="resources">
    </div>
    
</body>
</html>