<!doctype html>
<html lang="en">
<head>
</head>
<body>
    <button type="button" id="uploadButton">Hochladen</button>
    <button type="button" id="resetButton">Zurücksetzen</button>
    <p>
      <label for="scale">Breite:</label>
      <input type="text" id="scale" readonly style="border:0; color:#f6931f; font-weight:bold;">
    </p>
    <div id="scaleSlider" style="width: 500px; margin: 10px; float: left" /></div>
    <div class="editor" id="editor" style="width: 90%">     
    <canvas id="editorCanvas"></canvas>
    </div>    
    <div class="source" id="resources">
    </div>
    
</body>
</html>