<!doctype html>
<html lang="en">
<head>
</head>
<body>
    <button type="button" id="uploadButton">Hochladen</button>
    <button type="button" id="resetButton">Zurücksetzen</button>
    <p>
      <label for="scale">Breite:</label>
      <input type="text" id="scale" readonly style="border:0; color:#f6931f; font-weight:bold;">
    </p>
    <div id="scaleSlider" style="width: 500px; margin: 10px; float: left" /></div>
    <div class="editor" id="editor" style="width: 90%">     
    <canvas id="editorCanvas"></canvas>
    </div>    
    <div class="source" id="resources">
    </div>
    <div id="editInfo">
        <table border="0" cellpadding="0" cellspacing="4">
        <tr>
          <td align="right">Straßenbreite (Pixel):</td>
          <td><input id="streetpx" type="text" size="30"></td>
        </tr>
        <tr>
          <td align="right">Straßenbreite (Meter):</td>
          <td><input id="streetm" type="text" size="30"></td>
        </tr>
        <tr>
          <td align="right">Elementbreite (Pixel):</td>
          <td><input id="elementspx" type="text" size="30"></td>
        </tr>
        <tr>
          <td align="right">Elementbreite (Meter):</td>
          <td><input id="elementsm" type="text" size="30"></td>
        </tr>
        </table>
        <textarea id="log" style="width: 100%"> 
        </textarea>
    </div>
    
</body>
</html>