<!doctype html>
<html lang="en">
<head>
</head>
<body>    
    <!--
    <p>
      <label for="zoom">Zoom:</label>
    </p>
    -->
    <div id="editorWrapper">
        <div id='leftFade' class='fade'></div>
        <div id='rightFade' class='fade'></div>
        <div class="contextMenu container-fluid" style="position: relative;">
             <div class="navbar-header" style="z-index: 9999999">                    
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#context-collapse">  
                    <img src="../../../img/icons-png/plus-black.png" > 
                    mehr
                </button>
                <a class="navbar-brand" href="#">Prüfen</a>
              </div>

              <div class="collapse navbar-collapse" id="context-collapse" style="background-color: white;">
                <ul class="nav navbar-nav">
                    <li class="" > 
                        <a href="#" id="upload">                            
                            <img src="../../../img/icons-png/arrow-u-black.png" >
                            Hochladen
                        </a>
                    </li>
                    <li class="dropdown">    
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">                    
                            <img src="../../../img/icons-png/reset.png" >
                            Zurücksetzen 
                            <b class="caret"></b>                        
                        </a>
                        <ul class="dropdown-menu"> 
                            <li class="" id="resetDefault">Auf default zurücksetzen</li>
                            <li class="" id="resetUser">Auf letzten Stand setzen</li>
                        </ul>
                    </li>  
                    <li class="" style="float: left"> 
                        <a href="#" id="upload" >                   
                            <img src="../../../img/icons-png/lupe.png">                            
                            Zoom
                            <div id="zoomSlider" class="slider"></div>
                            <label id="zoom">100</label>
                        </a>
                    </li>
                </ul>
              </div>
        </div> 
        <div class="editor" id="editor">  
            <div class="upfade"></div>              
            <canvas id="editorCanvas"></canvas>   
            <div class="downfade"></div>  
        </div>    
    </div>
    <!--
    <div id='scrollSlider' class="scroll-bar-wrap ui-widget-content ui-corner-bottom">
        <div class="scroll-bar"></div>
    </div>-->
    <div class="source" id="resources">
    </div>
    
</body>
    
</html>