<!doctype html>
<!--
template of the LoginView
-->
<div id="loginForm" class="textBar">
    <h1>Einloggen</h1>
    <table border="0" cellpadding="0" cellspacing="4" class="centered">
        <tr>
            <td align="right">Benutzername:&nbsp;</td>
            <td><input id="name" type="text" size="30"></td>
        </tr>
        <tr>
            <td align="right">Passwort: </td>
            <td><input id="password" type="password" size="30"></td>
        </tr>
    </table>           
    <label id="status"></label>
    <br>
    <button type="button" id="loginButton" >Login abschicken</button>
</div>

<div id="registerForm" class="textBar">
    <h1>Noch nicht angemeldet? Hier Registrieren!</h1>
    <table border="0" cellpadding="0" cellspacing="4" class="centered">
        <tr>
            <td align="right">Benutzername: </td>
            <td><input id="name" type="text" size="30"></td>
        </tr>
        <tr>
            <td align="right">Email: </td>
            <td><input id="email" type="text" size="30" ></td>
        </tr>
        <tr>
            <td align="right">Passwort: </td>
            <td><input id="password" type="password" size="30"></td>
        </tr>
    </table>
    <label id="status"></label>
    <br>
    <button type="button" id="registerButton">Registrierung abschicken</button>
</div>

<div id="loginStatus" class="textBar">
    <h1>Login Status</h1>
    <table border="0" cellpadding="0" cellspacing="4" class="centered">
        <tr>
            <td align="right">Benutzername: </td>
            <td><input id="name" type="text" size="30"></td>
        </tr>
        <tr>
            <td align="right">Email: </td>
            <td><input id="email" type="text" size="30" ></td>
        </tr>
        <tr>
            <td align="right">Passwort: </td>
            <td><input id="password" type="password" size="30"></td>
        </tr>
    </table>
    <br>
    <label id="status"></label>
    <br>        
    <button type="button" id="logoutButton" style="left: 300px; background-color: #9e0505">Ausloggen</button>
    <button type="button" id="registerButton">Änderungen übernehmen</button>
</div>
