<!doctype html>
<html lang="en">
<head>
</head>
<body>    
    <div id="loginForm" class="textBar centered">
        <h1>Einloggen</h1>
        <table border="0" cellpadding="0" cellspacing="4" class="centered">
            <tr>
                <td align="right">Benutzername:&nbsp;</td>
                <td><input id="name" type="text" size="30"></td>
            </tr>
            <tr>
                <td align="right">Passwort: </td>
                <td><input id="password" type="password" size="30"></td>
            </tr>
        </table>           
        <label id="status"></label>
        <br>
        <button type="button" id="loginButton">Einloggen</button>
    </div>
    
    <div id="registerForm" class="textBar centered">
        <h1>Noch nicht angemeldet? Hier Registrieren!</h1>
        <table border="0" cellpadding="0" cellspacing="4" class="centered">
            <tr>
                <td align="right">Benutzername: </td>
                <td><input id="name" type="text" size="30"></td>
            </tr>
            <tr>
                <td align="right">Email: </td>
                <td><input id="email" type="text" size="30" ></td>
            </tr>
            <tr>
                <td align="right">Passwort: </td>
                <td><input id="password" type="password" size="30"></td>
            </tr>
        </table>
        <label id="status"></label>
        <br>
        <button type="button" id="registerButton">Registrieren</button>
    </div>
    
    <div id="loginStatus" class="textBar centered">
        <h1>Login Status</h1>
        <table border="0" cellpadding="0" cellspacing="4" class="centered">
            <tr>
                <td align="right">Benutzername: </td>
                <td><input id="name" type="text" size="30"></td>
            </tr>
            <tr>
                <td align="right">Email: </td>
                <td><input id="email" type="text" size="30" ></td>
            </tr>
            <tr>
                <td align="right">Passwort: </td>
                <td><input id="password" type="password" size="30"></td>
            </tr>
        </table>
        <br>
        <label id="status"></label>
        <br>        
        <button type="button" id="logoutButton">Ausloggen</button>
        <button type="button" id="registerButton">Änderungen übernehmen</button>
    </div>
</body>
    
</html>