<!DOCTYPE html>
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
 <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img src="../../../img/icons-png/PlanMit.png" style="width:20px"> 
        PlanMit
    </a>
  </div>

  <div class="collapse navbar-collapse" id="navbar-collapse-1">
    <ul class="nav navbar-nav">        
        <li class=""><a href="#projects">Projektauswahl</a></li>
        <li class=""><a href="#edit">Editieren</a></li>
        <li><a href="#">Hilfe</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sonstiges <b class="caret"></b></a>
            <ul class="dropdown-menu"> 
                <li class=""><a id="github" href="https://github.com/ChrFr/bachelorarbeit/" target="_blank">Github</a></li>
                <li class="divider"></li>
                <li><a href="#">Kontakt</a></li>
                <li><a href="#">Impressum</a></li>
            </ul>
      </li>     
      <li class=""><a id="login" href="#login">Einloggen</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->